body {
	font-family: sans-serif;
	margin: 0;
}
html, body, #root {
	height: 100%;
}
#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

main {
	max-width: 600px;
	margin: auto;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

.activity-buttons {
	display: flex;
	max-width: 600px;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	@media (min-width: 700px) {
		flex-direction: row;
	}
	@media (max-width: 699px) {
		flex-direction: column;
		margin: 10px;
	}
}

.point-counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 600px;
	margin: 25px 0;
}

.loot {
	header {
		font-size: 22px;
		margin-bottom: 5px;
		align-items: flex-end;
		button {
			margin-right: 11px;
			margin-bottom: 2px;
		}
	}
	button {
		margin-left: auto;
		min-width: 7em;
		height: 2em;
	}
	.weekly-loot {
		border: 1px solid silver;
		margin-bottom: 20px;
		padding: 10px;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
	}
}
.weekly-loot .loot-icon {
	margin-right: -30px;
	height: 40px;
	&.common {
		margin-right: -35px;
	}
}

.last.row {
	justify-content: space-between;
}
.buttons.column {
	gap: 20px;
	button {
		font-size: 22px;
		padding: 10px 20px;
	}
}

.doesnt-look-like-a-button {
	background: none !important;
	border: 1px solid transparent !important;
	color: inherit;
	padding: 0 !important;
	cursor: pointer;
}