body {
	font-family: sans-serif;
}

.stat-clickers {
	display: flex;
	@media (min-width: 700px) {
		flex-direction: row;
	}
	@media (max-width: 699px) {
		flex-direction: column;
	}
	.column {
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (min-width: 700px) {
			margin-right: 30px;
		}
		@media (max-width: 699px) {
			margin-bottom: 10px;
		}
	}
}

.point-counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 600px;
	margin-top: 25px;
}