body {
	font-family: sans-serif;
	margin: 0;
}
html, body, #root {
	height: 100%;
}
#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

main {
	max-width: 600px;
	margin: auto;
	padding: 10px 0;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

.activity-buttons {
	display: flex;
	max-width: 600px;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	@media (min-width: 700px) {
		flex-direction: row;
	}
	@media (max-width: 699px) {
		flex-direction: column;
		margin: 10px;
	}
}

.point-counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 600px;
	margin: 25px 0;
}

.loot {
	header {
		font-size: 22px;
		margin-bottom: 5px;
		align-items: flex-end;
		button {
			margin-bottom: 5px;
			margin-left: auto;
			min-width: 7em;
			height: 2em;
		}
	}
	.weekly-loot {
		border: 1px solid silver;
		min-height: 40px;
		margin-bottom: 10px;
		padding: 10px;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
	}
}
.weekly-loot .loot-icon {
	height: 40px;
}
.editable-loot {
	position: relative;
	margin-right: -30px;
	cursor: pointer;
	&:hover {
		z-index: 1;
	}
	.common {
		margin-right: -5px;
	}
}
.edit-loot {
	display: none;
}
.editable-loot:hover {
	.edit-loot{
		display: flex;
		flex-direction: row;

		position: absolute;
		bottom: 53px;
		margin-left: -161px;

		padding: 5px;
		background: white;
		border: 1px solid silver;
		border-radius: 5px;
		line-height: 1.5em;
		gap: 5px;
	}
	.loot-icon {
		transform: translateY(-10px);
	}
}
.loot-icon {
	transition: transform .25s;
}
.add-loot-buttons {
	gap: 10px;
	margin-bottom: 20px;
}

.last.row {
	justify-content: space-evenly;
}

.doesnt-look-like-a-button {
	background: none !important;
	border: 1px solid transparent !important;
	color: inherit;
	padding: 0 !important;
	cursor: pointer;
}