.loot-button {
	display: flex;
	flex-direction: row;
	width: 100%;
	.loot-icon {
		width: 40px;
		height: 40px;
	}
	.right-side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-left: 10px;
		.description {
			font-size: 16px;
		}
		.xp {
			font-size: 8px;
		}
	}
}