#loot-screen {
	position: relative;
	width: 300px;
	height: 288px;
	margin: auto;
	h2 {
		text-align: center;
	}
	.loot-table {
		width: 100%;
		.earned-column {
			width: 100px;
		}
	}
	#close-loot-screen-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}